@keyframes pulse {
    to {
      box-shadow: 0 0 0 30px rgba(230, 237, 255, 0);
    }
}

body {
    margin: 0;
}

/* BORDURE */
#top, #bottom, #left, #right {
	background: #FF4338;
	position: fixed;
}
#left, #right {
    top: 0; bottom: 0;
    width: 40px;
}
#left {
    left: 0;
}
#right {
    right: 0;
}    
#top, #bottom {
    left: 0; right: 0;
    height: 40px;
    }
#top {
    top: 0;
}
#bottom {
    bottom: 0;
}
/* FIN DE LA BORDURE */

#main-wrapper {
    text-align: center;
    margin: 180px auto 50px auto;
    font-family: 'Courier';
    color: #2D3142;
}

p {
    font-size: 1.2rem;
}

img {
    margin-bottom: 50px;
    border-radius: 500px;
    box-shadow: 0 0 0 0 #ffdbd9;
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);

}

