@keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(255, 67, 56, 0);
  }
}
img.logo-pulse {
  border-radius: 500px;
  box-shadow: 0 0 0 0 #ffa39e;
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

.link-overline {
  position: relative;
}

.link-overline span {
  z-index: 1;
  position: relative;
}

.link-overline::after {
  content: "";
  position: absolute;
  left: -0.1px;
  right: -0.1px;
  bottom: 0;
  height: 100%;
  transform: scaleY(0.3);
  transition: transform 0.3s cubic-bezier(0.53, 0.21, 0, 1);
  transform-origin: bottom;
  background-color: #fff;
  opacity: 0.5;
}

.link-overline:hover::after {
  transform: scaleY(1);
}

.link-underline {
  position: relative;
}

.link-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.3s cubic-bezier(0.86, 0, 0.07, 1);
}

.link-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@keyframes wiggle {
  25% {
    transform: translateX(2%);
  }
  75% {
    transform: translateX(-2%);
  }
}
#main-title {
  height: 550px;
  background-image: url(../../images/boombox.jpg);
  background-repeat: no-repeat;
  padding-top: 250px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
}
#main-title h1 {
  width: 80%;
  margin: auto;
  font-size: 4rem;
}
@media screen and (max-width: 900px) {
  #main-title h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 500px) {
  #main-title h1 {
    font-size: 2rem;
  }
}
#main-title a {
  margin-top: 100px;
  font-size: 1.3em;
  display: inline-block;
  position: relative;
  min-width: 200px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  color: #1E1E24;
}
#main-title a span {
  z-index: 3;
  position: relative;
}
#main-title a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #FF4338;
  opacity: 0;
  z-index: 1;
}
#main-title a:hover span {
  color: #fff;
}
#main-title a:hover::before {
  opacity: 1;
  transition-duration: 0.85s;
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}
@media screen and (max-width: 500px) {
  #main-title a {
    font-size: 1em;
  }
}

.flip-card {
  width: 500px;
  height: 280px;
  margin: 150px auto;
  background-color: transparent;
  perspective: 1000px;
  z-index: 3;
}
@media screen and (max-width: 900px) {
  .flip-card {
    width: 350px;
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  .flip-card {
    display: none;
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
}

.flip-card-front {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  background-image: url(../../images/blob.svg);
  background-repeat: no-repeat;
  background-position: right;
  color: #1E1E24;
}
.flip-card-front img {
  border-radius: 500px;
  width: 180px;
  margin-right: 10px;
}
.flip-card-front p {
  text-align: center;
  display: block;
  text-transform: uppercase;
}
.flip-card-front p:first-child {
  font-weight: bold;
  margin-bottom: 35px;
}

.flip-card-back {
  background-color: #1E1E24;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-card ~ p,
div#mobile-flip-card {
  color: #fff;
  text-align: center;
  font-size: 2em;
  width: 50%;
  margin: 0 auto 50px auto;
  font-weight: bold;
}
.flip-card ~ p a,
div#mobile-flip-card a {
  color: #fff;
}
@media screen and (max-width: 900px) {
  .flip-card ~ p,
div#mobile-flip-card {
    font-size: 1.3em;
    width: 80%;
  }
}

div#mobile-flip-card img {
  border-radius: 500px;
  width: 180px;
  margin-right: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 500px) {
  div#mobile-flip-card {
    display: none;
  }
}

div#services {
  background-color: #FF4338;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 120px;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
}
div#services .services-title {
  font-size: 2.5em;
  color: #fff;
  font-weight: bold;
  padding: 30px;
}
@media screen and (max-width: 900px) {
  div#services .services-title {
    font-size: 2em;
  }
}
@media screen and (max-width: 500px) {
  div#services .services-title {
    font-size: 1.3em;
    margin-bottom: 20px;
  }
}
div#services .services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 80px;
}
@media screen and (max-width: 900px) {
  div#services .services-container {
    flex-direction: column;
    padding: 0 50px;
  }
}
@media screen and (max-width: 500px) {
  div#services .services-container {
    padding: 0 20px;
  }
}
div#services .services-column {
  flex: 1;
  margin: 30px 3%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
div#services .services-column img {
  width: 80px;
  margin: 35px;
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}
div#services .services-column:hover > img {
  transform: scale(1.1);
}

#wave-top {
  position: relative;
  bottom: -1px;
  z-index: 5;
}

div#clients {
  background-color: #fff;
  width: 100%;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2) inset;
  text-align: center;
  padding-bottom: 150px;
}
div#clients h2 {
  margin: 0;
  padding: 100px 20%;
  font-size: 2em;
}
@media screen and (max-width: 900px) {
  div#clients h2 {
    padding: 100px 40px 80px 40px;
    font-size: 2em;
  }
}
@media screen and (max-width: 500px) {
  div#clients h2 {
    font-size: 1.3em;
  }
}
div#clients-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
div#clients-container img {
  width: 200px;
}
div#clients-container img:nth-child(odd) {
  margin: 0 50px 0 0;
}
@media screen and (max-width: 500px) {
  div#clients-container img:nth-child(odd) {
    margin: 0 0 50px 0;
  }
}

div#quote {
  color: #fff;
  text-align: center;
  width: 50%;
  margin: auto;
}
div#quote h3 {
  font-size: 2.5em;
  margin: 150px 0;
}
div#quote h3 a {
  color: #fff;
}
div#quote .card {
  width: 50%;
  margin: auto;
  background-color: #fff;
  color: #1E1E24;
  padding: 30px;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
div#quote .card img {
  margin: 30px;
}
div#quote .card:hover > img {
  animation: wiggle 150ms 2;
}
@media screen and (max-width: 900px) {
  div#quote {
    width: 80%;
  }
  div#quote h3 {
    font-size: 2em;
    margin: 80px 0;
  }
  div#quote .card {
    padding: 15px;
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  div#quote .card {
    width: 80%;
  }
  div#quote h3 {
    font-size: 1.3em;
  }
}

div#contact {
  margin-top: 200px;
  height: 800px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
}
div#contact-img {
  flex: 1;
  background-image: url(../../images/angry-voice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 900px) {
  div#contact-img {
    display: none;
  }
}
div#contact-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 60px;
  margin: 0 30px;
  align-items: center;
}
@media screen and (max-width: 900px) {
  div#contact-text {
    margin: 0;
    padding: 50px 0;
  }
}
@media screen and (max-width: 500px) {
  div#contact {
    flex-direction: column;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label {
  display: block;
}
form .form-group {
  position: relative;
  padding: 20px 0 0;
  margin: 20px 0;
  width: 100%;
  max-width: 400px;
}
form .form-field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  font-weight: bold;
  transition: border-color 0.2s;
}
form .form-field::placeholder {
  color: transparent;
}
form .form-field:placeholder-shown ~ .form-label {
  cursor: text;
  top: 30px;
}
form .form-label {
  position: absolute;
  top: 0;
  transition: 0.2s;
  color: gray;
}
form .form-field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #06A77D, #047658);
  border-image-slice: 1;
}
form .form-field:focus ~ .form-label {
  position: absolute;
  top: 0;
  transition: 0.2s;
  color: #06A77D;
  font-weight: bold;
}
form .form-field:required, form .form-field:invalid {
  box-shadow: none;
}
form .textarea-label {
  color: grey;
  margin: 45px 0 15px 0;
  width: 400px;
}
form .textarea-label:focus-within {
  font-weight: bold;
  color: #06A77D;
}
form .textarea-field {
  padding: 15px;
  margin-top: 20px;
  border: 0;
  outline: 0;
  background-color: #ebebef;
}
form #send-form {
  margin: 50px 0;
  border: 0;
  font-size: 1em;
  display: inline-block;
  position: relative;
  min-width: 200px;
  overflow: hidden;
  background-color: #06A77D;
  border-radius: 5px;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
  padding: 15px 30px;
  color: #fff;
}
form #send-form span {
  z-index: 3;
  position: relative;
}
form #send-form::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #1E1E24;
  opacity: 0;
  z-index: 1;
}
form #send-form:hover span {
  color: #fff;
}
form #send-form:hover::before {
  opacity: 1;
  transition-duration: 0.85s;
  transform: translate3d(-50%, -50%, 0) scale3d(1, 1, 1);
}
@media screen and (max-width: 500px) {
  form {
    width: 200px;
  }
  form .textarea-label,
form textarea {
    width: 200px;
  }
}

div#social-container {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
@media screen and (max-width: 900px) {
  div#social-container {
    flex-direction: column;
    align-items: center;
  }
}
div#social-container img {
  margin: 0 15px;
}

#border-top, #border-bottom, #border-left, #border-right {
  background: #FF4338;
  position: fixed;
}

#border-left, #border-right {
  top: 0;
  bottom: 0;
  width: 40px;
}

#border-left {
  left: 0;
}

#border-right {
  right: 0;
}

#border-top, #border-bottom {
  left: 0;
  right: 0;
  height: 40px;
}

#border-top {
  top: 0;
}

#border-bottom {
  bottom: 0;
}

#logo-big {
  display: flex;
  margin: 150px auto 80px auto;
  filter: brightness(100);
}

p.construction {
  width: 50%;
  margin: auto;
  text-align: center;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
}

#main-wrapper {
  width: 100%;
  background-color: #ff4338;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%238a241e'/%3E%3Cstop offset='1' stop-color='%23ff4338'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23c5342b'/%3E%3Cstop offset='1' stop-color='%23ff4338'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform=''%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-151.2 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 1em;
  font-family: "Roboto";
  color: #1E1E24;
}

a {
  text-decoration: none;
}

.bold-color-text {
  font-weight: bold;
  color: #06A77D;
}

nav {
  z-index: 8;
  text-transform: uppercase;
  border-bottom: solid 2px #fff;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
}
nav#desktop-nav {
  background-color: #FF4338;
  padding: 15px 50px;
  text-align: right;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
nav#desktop-nav a {
  display: inline-block;
  color: #fff;
  margin: 5px 20px 0 20px;
  display: inline-block;
  font-weight: bold;
}
nav#desktop-nav a:last-child {
  margin-right: 0;
}
@media screen and (max-width: 900px) {
  nav#desktop-nav a {
    display: none;
  }
}
nav#mobile-nav {
  display: block;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #FF4338;
  padding-top: 200px;
  z-index: 8;
  transition: 0.4s;
}
nav#mobile-nav.is-active {
  left: 0;
}
nav#mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin: 40px auto;
  padding: 15px 16px;
  background-color: #fff;
  color: #FF4338;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transform: scale(1);
  transition: transform 300ms ease-in-out;
}
nav#mobile-nav a:first-child {
  margin-top: 80px;
}
@media screen and (max-width: 500px) {
  nav#mobile-nav a:first-child {
    margin-top: 20px;
  }
}
nav#mobile-nav a:hover {
  transform: scale(1.05);
}
@media screen and (min-width: 900px) {
  nav#mobile-nav {
    display: none;
  }
}

.hamburger {
  position: fixed;
  right: 15px;
  top: 15px;
  display: block;
  width: 50px;
  height: 50px;
  cursor: pointer;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  z-index: 9;
}
.hamburger .bar, .hamburger::after, .hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px 0px;
  transition: 0.4s;
  border-radius: 3px;
}
.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }
}

#main-logo {
  position: fixed;
  top: 38px;
  left: 80px;
  border: 1px solid #FF4338;
  z-index: 9;
}
@media screen and (max-width: 900px) {
  #main-logo {
    width: 150px;
  }
}
@media screen and (max-width: 500px) {
  #main-logo {
    width: 100px;
    top: 20px;
    left: 20px;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
