// BORDURES AUTOUR DE LA PAGE EN CONSTRUCTION

#border-top, #border-bottom, #border-left, #border-right {
	background: $accent-color-main;
	position: fixed;
}
#border-left, #border-right {
    top: 0; bottom: 0;
    width: 40px;
}
#border-left {
    left: 0;
}
#border-right {
    right: 0;
}    
#border-top, #border-bottom {
    left: 0; right: 0;
    height: 40px;
    }
#border-top {
    top: 0;
}
#border-bottom {
    bottom: 0;
}

#logo-big {
    display: flex;
    margin: 150px auto 80px auto;
    filter:brightness(100)
}

p.construction {
    width: 50%;
    margin: auto;
    text-align: center;
    color: $light-color-main;
    font-size: 1.3em;
    font-weight: bold;
}