div.article-img-main {
  width: 100%;
  height: 500px;
  filter: brightness(40%);
  box-shadow: $shadow;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

h1.article-title {
  width: 40%;
  margin: auto;
  color: $light-color-main;
  text-align: center;
  position: relative;
  top: -300px;
  font-size: $quote-size;
  @include maxSize(map-get($breakpoints, medium)) {
    top: -280px;
    font-size: $title-size;
  }
  @include maxSize(map-get($breakpoints, small)) {
    top: -300px;
    font-size: $title-size;
    width: 80%;
  }

}

#article-container {
  width: 75%;
  margin: auto;
  padding-bottom: 150px;
  p, em, li {
      line-height: 1.3em;
  }
  h2 {
    font-size: $title-size;
    color: $accent-color-complement;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  p.article-intro {
    font-size: $emphasis-size;
    margin: 0 0 30px 0;

  }
  em {
    font-weight: bold;
    font-style: normal;
  }
  ul {
    list-style: none;
    padding-left: 20px;
    li {
      &::before {
        content: "•";
        color: $accent-color-complement;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
  @include maxSize(map-get($breakpoints, medium)) {
    width: 85%;
  }
}

#article-footer {
  width: 100%;
  margin: 0;
}
