#main-title {
  height: 550px;
  background-image: url(../../images/boombox.jpg);
  background-repeat: no-repeat;
  padding-top: 250px;
  margin-bottom: 100px;
  text-align: center;
  color: white;
  box-shadow: $shadow;
  h1 {
    width: 80%;
    margin: auto;
    font-size: 4rem;
    @include maxSize(map-get($breakpoints, medium)) {
      font-size: 3rem;
    }
    @include maxSize(map-get($breakpoints, small)) {
      font-size: 2rem;
    }
  }
  a {
    margin-top: 100px;
    font-size: $emphasis-size;
    @include ellipse-button(
      $light-color-main,
      $dark-color-main,
      $accent-color-main,
      $light-color-main
    );
    @include maxSize(map-get($breakpoints, small)) {
      font-size: $text-size;
    }
  }
}

.flip-card {
  width: 500px;
  height: 280px;
  margin: 150px auto;
  background-color: transparent;
  perspective: 1000px;
  z-index: 3;
  @include maxSize(map-get($breakpoints, medium)) {
    width: 350px;
    height: 200px;
  }
  @include maxSize(map-get($breakpoints, small)) {
    display: none;
  }
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px 50px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: $radius;
  box-shadow: $shadow;
}
.flip-card-front {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $light-color-main;
  background-image: url(../../images/blob.svg);
  background-repeat: no-repeat;
  background-position: right;
  color: $dark-color-main;
  img {
    border-radius: 500px;
    width: 180px;
    margin-right: 10px;
  }
  p {
    text-align: center;
    display: block;
    text-transform: uppercase;
    &:first-child {
      font-weight: bold;
      margin-bottom: 35px;
    }
  }
}
.flip-card-back {
  background-color: $dark-color-main;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-card ~ p,
div#mobile-flip-card {
  color: $light-color-main;
  text-align: center;
  font-size: $title-size;
  width: 50%;
  margin: 0 auto 50px auto;
  font-weight: bold;
  a {
    color: $light-color-main;
  }
  @include maxSize(map-get($breakpoints, medium)) {
    font-size: $emphasis-size;
    width: 80%;
  }
}

div#mobile-flip-card {
  img {
    border-radius: 500px;
    width: 180px;
    margin-right: 10px;
    margin-bottom: 50px;
    box-shadow: $shadow;
  }
  @include minSize(map-get($breakpoints, small)) {
    display: none;
  }
}

#services {
  background-color: $accent-color-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 120px;
  box-shadow: $shadow;
  .services-title {
    font-size: $quote-size;
    color: $light-color-main;
    font-weight: bold;
    padding: 30px;
    @include maxSize(map-get($breakpoints, medium)) {
      font-size: $title-size;
    }
    @include maxSize(map-get($breakpoints, small)) {
      font-size: $emphasis-size;
      margin-bottom: 20px;
    }
  }
  .services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 80px;
    @include maxSize(map-get($breakpoints, medium)) {
      flex-direction: column;
      padding: 0 50px;
    }
    @include maxSize(map-get($breakpoints, small)) {
      padding: 0 20px;
    }
  }
  .services-column {
    flex: 1;
    margin: 30px 3%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-color-main;
    box-shadow: $shadow;
    border-radius: $radius;
    #circle1 {
      width: 80px;
      height: 80px;
      background-color: $accent-color-complement;
      border-radius: 50px;
      margin: 20px 0;
    }
    #circle2 {
      width: 40px;
      height: 40px;
      background-color: $accent-color-complement;
      border-radius: 50px;
      margin: 20px 0;
    }
    &:hover > img {
      transform: scale(1.1);
    }
  }
}

#wave-top {
  position: relative;
  bottom: -9px;
  z-index: 5;
}

#skills {
  background-color: lighten($dark-color-main, 80);
  background: radial-gradient(
    circle,
    $light-color-main 0%,
    lighten($dark-color-main, 75) 100%
  );
  width: 100%;
  box-shadow: $shadow inset;
  text-align: center;
  h2 {
    margin: 0;
    padding: 150px 10% 80px 10%;
    font-size: $title-size;
    @include maxSize(map-get($breakpoints, medium)) {
      padding: 100px 40px 80px 40px;
      font-size: $title-size;
    }
    @include maxSize(map-get($breakpoints, small)) {
      font-size: $emphasis-size;
    }
  }
  &-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 120px;
  }
  .skills-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: $radius;
    margin: 50px;
    width: 200px;
    color: $dark-color-main;
    h3 {
      font-size: $emphasis-size;
      margin-bottom: 0;
    }
    p {
      color: lighten($dark-color-main, 40);
    }
    .icon-container {
      width: 120px;
      height: 120px;
      background-color: $light-color-main;
      border-radius: 500px;
      box-shadow: $shadow;
      margin-bottom: 15px;
      img {
        margin-top: 25px;
      }
    }
  }
  @include maxSize(map-get($breakpoints, medium)) {
    h2 {
      padding-top: 150px;
    }
    &-container {
      padding: 5% 0 20% 0;
    }
  }
  @include maxSize(map-get($breakpoints, small)) {
    &-container {
      padding: 10% 0 30% 0;
    }
    .skills-card {
      margin: 30px 0;
      .icon-container {
        width: 80px;
        height: 80px;
        img {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

#quote {
  color: $light-color-main;
  text-align: center;
  width: 60%;
  margin: auto;
  h2 {
    font-size: $quote-size;
    margin: 150px 0;
    a {
      color: $light-color-main;
    }
  }
  .card {
    width: 50%;
    margin: auto;
    background-color: $light-color-main;
    color: $dark-color-main;
    padding: 30px;
    box-shadow: $shadow;
    border-radius: $radius;
    img {
      margin: 30px;
    }
    &:hover > img {
      animation: wiggle 150ms 2;
    }
  }
  @include maxSize(map-get($breakpoints, medium)) {
    width: 80%;
    h2 {
      font-size: $title-size;
      margin: 80px 0;
    }
    .card {
      padding: 15px;
      width: 80%;
    }
  }
  @include maxSize(map-get($breakpoints, small)) {
    .card {
      width: 80%;
    }
    h2 {
      font-size: $emphasis-size;
    }
  }
}

#contact {
  margin-top: 200px;
  height: 800px;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $light-color-main;
  box-shadow: $shadow;
  &-img {
    flex: 1;
    background-image: url(../../images/angry-voice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    @include maxSize(map-get($breakpoints, medium)) {
      display: none;
    }
  }
  &-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 60px;
    margin: 0 30px;
    align-items: center;
    @include maxSize(map-get($breakpoints, medium)) {
      margin: 0;
      padding: 50px 0;
    }
  }
  @include maxSize(map-get($breakpoints, small)) {
    flex-direction: column;
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    display: block;
  }
  .form-group {
    position: relative;
    padding: 20px 0 0;
    margin: 20px 0;
    width: 100%;
    max-width: 400px;
  }
  .form-field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid darken($dark-color-main, 15);
    outline: 0;
    padding: 7px 0;
    background: transparent;
    font-weight: bold;
    transition: border-color 0.2s;
    &::placeholder {
      color: transparent;
    }
    &:placeholder-shown ~ .form-label {
      cursor: text;
      top: 30px;
    }
  }
  .form-label {
    position: absolute;
    top: 0;
    transition: 0.2s;
    color: gray;
  }
  .form-field:focus {
    & ~ .form-label {
      position: absolute;
      top: 0;
      transition: 0.2s;
      color: $accent-color-complement;
      font-weight: bold;
    }
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(
      to right,
      $accent-color-complement,
      darken($accent-color-complement, 10)
    );
    border-image-slice: 1;
  }
  .form-field {
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }
  .textarea-label {
    color: grey;
    margin: 45px 0 15px 0;
    width: 400px;
    &:focus-within {
      font-weight: bold;
      color: $accent-color-complement;
    }
  }
  .textarea-field {
    padding: 15px;
    margin-top: 20px;
    border: 0;
    outline: 0;
    background-color: lighten($dark-color-main, 80);
  }
  #send-form {
    margin: 50px 0;
    border: 0;
    font-size: $text-size;
    cursor: pointer;
    @include ellipse-button(
      $accent-color-complement,
      $light-color-main,
      $dark-color-main,
      $light-color-main
    );
  }
  @include maxSize(map-get($breakpoints, small)) {
    width: 200px;
    .textarea-label,
    textarea {
      width: 200px;
    }
  }
}

div#social-container {
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  @include maxSize(map-get($breakpoints, medium)) {
    flex-direction: column;
    align-items: center;
  }
  img {
    margin: 0 15px;
  }
}
