#legal-mentions {
    text-align: center;
    width: 80%;
    max-width: 1000px;
    margin: auto;
    color: $light-color-main;
    padding-bottom: 50px;
    h1 {
        padding: 250px 0 50px 0;
    }
    h2 {
        margin-top: 40px;
    }
}
